@import "mixin";

.log-in {
  padding: rem(200) 0 rem(150) 0;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 42%;
    height: rem(100);
    position: absolute;
    left: 0;
    top: 0;
    background: #a225ee;
  }
  h1 {
    color: #1e1e1e;
    font-size: rem(36);
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
    text-transform: uppercase;
  }
  h2 {
    color: #1e1e1e;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: rem(767)) {
      br {
        display: none;
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    gap: rem(30);
    flex-wrap: wrap;
    max-width: rem(540);
    margin: 0 auto;

    &.reset-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.sign-up {
      button {
        max-width: 100%;
      }
    }

    button {
      margin: 20px auto 0 auto;
      border: none;
      color: #1e1e1e;
    }

    .success {
      text-align: center;
      font-size: rem(14);
      color: #1e1e1e;
    }

    > div {
      width: calc(50% - rem(15));
      position: relative;
      &.full {
        width: 100%;
      }

      @media (max-width: rem(992)) {
        width: 100%;
      }

      &.button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .error {
        position: absolute;
        left: 0;
        font-size: rem(12);
        color: #ff5353;
      }
      input {
        width: 100%;
        height: rem(50);
        padding: 0 20px;
        background: #0000001a;
        border: 1px solid #00000033;
        border-radius: 0;
        color: #1e1e1e;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        &::placeholder {
          color: #00000082;
        }
        &.invalid {
          border-color: #ff5353;
        }
      }

      &.checkbox {
        width: 100%;
        margin: 0 auto;
        position: relative;
        @media (max-width: rem(992)) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: rem(12);
          color: #ff5353;
        }
        input {
          display: none;
          &:checked + label {
            svg {
              circle {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: #1e1e1e;
          font-size: rem(12);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            width: rem(14);
            height: rem(14);
            margin-top: 0;
            circle {
              &:last-child {
                opacity: 0;
              }
            }
          }
          span {
            width: calc(100% - 30px);
            a {
              color: #1e1e1e;
              text-decoration: underline;
            }
          }
        }
      }
    }
    .reset {
      width: 100%;
      color: #1e1e1e;
      font-size: rem(12);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      text-decoration: underline;
    }
  }
}

.change-password {
  padding: 150px 0;
  h2 {
    color: #1e1e1e;
    font-size: rem(36);
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 20px 0;
  }
  p {
    color: #1e1e1e;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 40px 0;
    @media (max-width: rem(767)) {
      br {
        display: none;
      }
    }
  }

  button {
    margin: 50px auto 0 auto;
    color: #1e1e1e;
    border: none;
  }
  .success {
    text-align: center;
    font-size: rem(14);
    color: #1e1e1e;
    margin-top: 20px;
  }
  .password-data {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: rem(540);
    margin: 0 auto;

    &.reset-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.sign-up {
      button {
        max-width: 100%;
      }
    }

    .success {
      text-align: center;
      font-size: rem(14);
      color: #1e1e1e;
    }

    > div {
      width: rem(255);
      position: relative;

      @media (max-width: rem(992)) {
        width: 100%;
      }

      &.button-wrap {
        width: 100%;
        display: flex;
        justify-content: center;
        
      }

      .error {
        position: absolute;
        left: 0;
        font-size: rem(12);
        color: #ff5353;
      }
      input {
        width: 100%;
        height: rem(50);
        padding: 0 20px;
        background: #0000000d;
        border: 1px solid #00000033;
        border-radius: 0;
        color: #1e1e1e;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        &::placeholder {
          color: #00000082;
        }
        &.invalid {
          border-color: #ff5353;
        }
      }

      &.checkbox {
        width: rem(260);
        margin: 0 auto;
        position: relative;
        @media (max-width: rem(992)) {
          width: 100%;
        }
        .error {
          position: absolute;
          left: 0;
          font-size: rem(12);
          color: #ff5353;
        }
        input {
          display: none;
          &:checked + label {
            svg {
              rect {
                &:last-child {
                  opacity: 1;
                }
              }
            }
          }
        }
        label {
          display: flex;
          align-items: flex-start;
          gap: 10px;
          color: #fff;
          font-size: rem(12);
          font-weight: 400;
          line-height: 1.2;
          text-align: left;
          svg {
            width: rem(20);
            height: rem(20);
            margin-top: -5px;
            rect {
              &:last-child {
                opacity: 0;
              }
            }
          }
          span {
            width: calc(100% - 30px);
            a {
              color: #ea4073;
            }
          }
        }
      }
    }
    .reset {
      width: 100%;
      color: #1e1e1e;
      font-size: rem(12);
      font-weight: 400;
      line-height: 1.2;
      text-align: center;
      text-decoration: underline;
    }
  }
}

.account-wrap {
  padding: rem(200) 0 rem(150) 0;
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 42%;
    height: rem(100);
    position: absolute;
    left: 0;
    top: 0;
    background: #a225ee;
  }
  h1 {
    color: #1e1e1e;
    font-size: rem(32);
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    margin: 0 0 rem(35) 0;
  }
  &__body {
    display: flex;
    gap: 30px;
    @media (max-width: rem(992)) {
      flex-direction: column;
    }
    .account-nav {
      width: rem(255);
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: rem(10);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      li {
        cursor: pointer;
        color: #1e1e1e;
        font-size: rem(16);
        font-weight: 600;
        line-height: 1.2;
        text-align: left;
        padding: rem(25) rem(30);
        height: rem(70);
        background: #f2f2f2;
        border: none;
        display: flex;
        align-items: center;
        &.active {
          color: #ffffff;
          background: #a225ee;
        }
      }
    }

    .account-content {
      width: calc(100% - 285px);
      @media (max-width: rem(992)) {
        width: 100%;
      }
      .hidden {
        display: none;
      }
      p {
        color: #1e1e1e;
        font-size: rem(16);
        font-weight: 400;
        line-height: 1.2;
        text-align: left;
        margin: 0 0 16px 0;
        span {
          cursor: pointer;
          color: #ea4073;
        }
      }

      h2 {
        color: #1e1e1e;
        font-size: rem(14);
        font-weight: 500;
        line-height: 1.2;
        text-align: left;
        background: #f2f2f2;
        margin: 0 0 30px 0;
        padding: rem(15) rem(20);
      }

      .success {
        text-align: left;
        font-size: rem(14);
        color: #1e1e1e;
      }

      form {
        .billing-data {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;

          > div {
            width: rem(255);
            position: relative;

            @media (max-width: rem(992)) {
              width: 100%;
            }

            &.button-wrap {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .error {
              position: absolute;
              left: 0;
              font-size: rem(12);
              color: #ff5353;
            }
            input {
              width: 100%;
              height: rem(50);
              padding: 0 20px;
              background: #0000000d;
              border: 1px solid #00000033;
              border-radius: 0;
              color: #1e1e1e;
              font-size: rem(16);
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              &::placeholder {
                color: #00000082;
              }
              &.invalid {
                border-color: #ff5353;
              }
            }

            &.checkbox {
              width: rem(260);
              margin: 0 auto;
              position: relative;
              @media (max-width: rem(992)) {
                width: 100%;
              }
              .error {
                position: absolute;
                left: 0;
                font-size: rem(12);
                color: #ff5353;
              }
              input {
                display: none;
                &:checked + label {
                  svg {
                    rect {
                      &:last-child {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                color: #fff;
                font-size: rem(12);
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                svg {
                  width: rem(20);
                  height: rem(20);
                  margin-top: -5px;
                  rect {
                    &:last-child {
                      opacity: 0;
                    }
                  }
                }
                span {
                  width: calc(100% - 30px);
                  a {
                    color: #ea4073;
                  }
                }
              }
            }
          }
        }
        button {
          margin-top: 30px;
          color: #1e1e1e;
        }
      }

      .change-password {
        margin-top: 100px;
        padding: 0;
        background: transparent;
        button {
          margin: 30px 0 0 0;
          color: #1e1e1e;
        }
        h2 {
          text-transform: unset;
        }
        .password-data {
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 30px;
          margin: 0;
          width: 100%;
          max-width: 100%;
          > div {
            width: calc(33.33% - rem(20));
            position: relative;

            @media (max-width: rem(992)) {
              width: 100%;
            }

            &.button-wrap {
              width: 100%;
              display: flex;
              justify-content: center;
            }

            .error {
              position: absolute;
              left: 0;
              font-size: rem(12);
              color: #ff5353;
            }
            input {
              width: 100%;
              height: rem(50);
              padding: 0 20px;
              background: #0000000d;
              border: 1px solid #00000033;
              border-radius: 0;
              color: #1e1e1e;
              font-size: rem(16);
              font-weight: 400;
              line-height: 1.2;
              text-align: left;
              &::placeholder {
                color: #00000082;
              }
              &.invalid {
                border-color: #ff5353;
              }
            }

            &.checkbox {
              width: rem(260);
              margin: 0 auto;
              position: relative;
              @media (max-width: rem(992)) {
                width: 100%;
              }
              .error {
                position: absolute;
                left: 0;
                font-size: rem(12);
                color: #ff5353;
              }
              input {
                display: none;
                &:checked + label {
                  svg {
                    rect {
                      &:last-child {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              label {
                display: flex;
                align-items: flex-start;
                gap: 10px;
                color: #fff;
                font-size: rem(12);
                font-weight: 400;
                line-height: 1.2;
                text-align: left;
                svg {
                  width: rem(20);
                  height: rem(20);
                  margin-top: -5px;
                  rect {
                    &:last-child {
                      opacity: 0;
                    }
                  }
                }
                span {
                  width: calc(100% - 30px);
                  a {
                    color: #ea4073;
                  }
                }
              }
            }
          }
        }
      }

      .orders-wrap {
        overflow-x: auto;
        .orders {
          border-collapse: collapse;
          margin: 0 auto;
          width: 100%;
          @media (max-width: rem(992)) {
            width: rem(825);
          }
          th {
            padding: rem(15) rem(20);
            font-size: rem(13);
            font-weight: 600;
            line-height: 1.2;
            text-align: left;
            background: #f2f2f2;
            color: #1e1e1e;
            &:first-child{
              width: rem(100);
            }
          }
          td {
            padding: rem(15) rem(20);
            font-size: rem(14);
            font-weight: 400;
            line-height: 1.2;
            color: #1e1e1e;
            text-align: left;
            border-bottom: 1px solid #0000001a;
            text-transform: capitalize;
            &:first-child{
              width: rem(100);
            }
            a {
              display: block;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}
